$orange-dark-darkPrimaryColor:   #E64A19;
$orange-primaryColor:       	 #FF5722;
$orange-light-lightPrimaryColor: #FFCCBC;

$white-textPrimaryColor:         #FFFFFF;
$blue-accentColor:               #FF9800;
$red-alertColor:			     #e51c23;
$green-successColor: 			 #259b24;

$darkest-primaryTextColor:       #444;
$lighter-secondaryTextColor:     #727272;
$lightest-dividerColor:          #B6B6B6;

@-webkit-keyframes displayNone {
  0%   { opacity: 1; height: 100vh;}
  75%  { opacity: 1; height: 100vh;}
  100% { opacity: 0; height: 0vh}
}
@-moz-keyframes displayNone {
  0%   { opacity: 1; height: 100vh;}
  75%  { opacity: 1; height: 100vh;}
  100% { opacity: 0; height: 0vh}
}
@-o-keyframes displayNone {
  0%   { opacity: 1; height: 100vh;}
  75%  { opacity: 1; height: 100vh;}
  100% { opacity: 0; height: 0vh}
}
@keyframes displayNone {
  0%   { opacity: 1; height: 100vh;}
  75%  { opacity: 1; height: 100vh;}
  100% { opacity: 0; height: 0vh}
}

.index-background
{

	margin: 0;
	height: 100vh;

}

.main-welcome
{
	font-weight: bold;

}

.logo
{
	font-family: $logo-font;
}

.cover-screen, .rewards-message
{

	width: 100vw;
	position: absolute;
	z-index: 10;
	background-position: center;
	margin: 0;
	padding: 0;
	display: block;
	height: 0vh;

	-webkit-animation: displayNone 3s; /* Safari 4+ */
  	-moz-animation:    displayNone 3s; /* Fx 5+ */
  	-o-animation:      displayNone 3s; /* Opera 12+ */
  	animation:         displayNone 3s; /* IE 10+, Fx 29+ */
}

.cover-screen
{
	opacity: .0;background-color: rgba(0, 0, 0, .65);
}

 .rewards-message
 {
 	opacity: 1;
 	display: block;
 	color: $orange-primaryColor;
 	margin-top: 30vh;
 	font-size: 2.25em;
 	font-weight: bold;
 	padding-left: .85em;
 	padding-right: .85em;
 	line-height: 1.2em;
 }


.welcome-page-text-flare
{
	color: $orange-primaryColor;
	font-style: italic;
	font-weight: bold;
}

.logo-link
{

	.logo-main
	{
	font-weight: 100;
	}

	.logo-secondary
	{
		font-weight: 100;
	}
}

main
{
	margin-top: 1vh;
}

h1, h2, h3, p
{
	color: $darkest-primaryTextColor;
}

.global-nav
{
	background-color: $orange-primaryColor;
}

.global-nav-button
{
	color: $white-textPrimaryColor;
	padding: 0 12px;
	transition: background-color .25s ease;
	background-color: $orange-primaryColor;
	font-weight: 100;
}

.global-nav-button:hover
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

.global-nav-button:active
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

label
{
	font-weight: bold;
	color: $darkest-primaryTextColor;
}

.image
{
	height: 72px;
	background: url(../img/backpat.png);
	background-color: $orange-dark-darkPrimaryColor;

	background-blend-mode: multiply;
	-webkit-background-blend-mode: multiply;
}

.image1
{
	height: 20vh;
	width: 100%;
	position: relative; 
   	width: 100%; /* for IE 6 */

}

.affil-name
{
	position: absolute; 
   top: 50px; 
   left: 0.9375rem; 
   width: 90%;
   color: $white-textPrimaryColor;

}

.affil-location
{
	color: $white-textPrimaryColor;
	position: absolute; 
   top: 80px; 
   left: 0.9375rem; 
   width: 90%;
   font-weight: 100;


}



input[type="text"], input[type="email"], input[type="password"], input[type="number"], select
{
	border: none;
	border-bottom: 2px solid $lightest-dividerColor;
	box-shadow: none;
	padding-left: 0;
	background: none;
}

input[type=number] {
    -webkit-text-security: disc;
}

select
{
	color: #979797;
  color: rgba(182,182,182,0);
  text-shadow: 0 0 0 #979797;
  font-weight: bold;
}

select:hover
{
	background: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus
{
	border: none;
	border-bottom: 2px solid $orange-primaryColor;
	box-shadow: none;
	background: none;

}

.panel
{
	background-color: $white-textPrimaryColor;
	border-radius: .3em;
	box-shadow: 0px 1px 1px #ccc;
}

.button
{
	transition: background-color .75s easy, color .75s ease;
	color: $white-textPrimaryColor;
	background-color: $orange-primaryColor;

}

.button:hover, .button:focus
{
	transition: background-color .75s easy, color .75s ease;

	color: $white-textPrimaryColor;
	background-color: $orange-dark-darkPrimaryColor;
}

.button:active
{
	color: $orange-dark-darkPrimaryColor;
	background-color: $white-textPrimaryColor;

}

.item-list
{
	list-style-type: none;
	margin-left: 0;

	li
	{
		padding: 12px 0;
		margin: 0;
		border-bottom: 2px solid $lightest-dividerColor;
		display: inline-block;
		width: 100%;
	}

	.item-name
	{
		font-weight: 500;
		padding-top:3em;
		font-style: italic;

		a
		{
			color: $orange-primaryColor;
			padding: .5em 0;
			font-weight: bold;
		}
	}

	.item-price
	{
		font-weight: bold;
		font-size: .9em;
		border: 1px solid $orange-primaryColor;
		border-radius: .2em;
		padding: .3em .4em .2em 0em;

		.view-item-button
		{
			background-color: $orange-primaryColor;
			color: $white-textPrimaryColor;
			padding: .3em .4em .2em .4em;
		}
	}

	.reedem-button
	{
		margin-bottom: 0;
		padding: .3em .6em;

	}

	

	.select-button
	{
		vertical-align: middle;
		line-height: 1em;
	}

	.points-cost
	{
		font-weight: bold;
	}

	.reward-reedem-button
	{
		padding: .5em .6em .3em .6em;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}



input[type="checkbox"]
{
	padding: 0;
	margin: 0;
	appearance: none;
}

.switch input:checked + label {
    background: none repeat scroll 0% 0% $orange-primaryColor;
}

.server-prompt
{
	color: $orange-primaryColor;
}



.your-points
{
	color: $white-textPrimaryColor;
	font-weight: bold;
	font-style: italic;
}

.item-modal
{
	
}

.item-redeemed
{
	color: $orange-primaryColor;
	font-weight: bold;
}

.share-section
{
	height: 21vh;


	.share-section-block
	{
		line-height:10vh;

		img
		{
		vertical-align: middle;
		display: inline-block;
		width: 100%;
		height: 15vh;
		width:auto;
		}
	}
}


.progress
{
	padding-bottom: 1.25em;
	margin-top: .5em;
	margin-bottom: 0em;
	background-color: $lighter-secondaryTextColor + 50;
	border: none;
	.meter
	{
		color: $white-textPrimaryColor;
		padding-left: .5em;
		padding-top: .15em;
		padding-bottom: 1.6em;
		font-size: .75em;
		margin-top: 0;
		font-weight: bold;
	}

}

.progress.alert .meter
{
	background: $orange-primaryColor
}

.button.disabled
{
	background-color: $darkest-primaryTextColor;
	opacity: .20;
}

.button.disabled:hover
{
	background-color: $darkest-primaryTextColor;
	opacity: .20;
}

