$orange-dark-darkPrimaryColor:   #E64A19;
$orange-primaryColor:       	 #FF5722;
$orange-light-lightPrimaryColor: #FFCCBC;

$white-textPrimaryColor:         #FFFFFF;
$blue-accentColor:               #03A9F4;
$red-alertColor:			     #e51c23;
$green-successColor: 			 #259b24;

$darkest-primaryTextColor:       #212121;
$lighter-secondaryTextColor:     #727272;
$lightest-dividerColor:          #B6B6B6;

@-webkit-keyframes displayNone {
  0%   { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes displayNone {
  0%   { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes displayNone {
  0%   { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes displayNone {
  0%   { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}

.log-in-page-spacer
{
	margin-top: 12vh;
}

.welcome-page-text-flare
{
	color: $orange-primaryColor;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
}

.cover-screen
{
	height: 100vh;
	width: 100vw;
	background-color: #ccc;
	position: absolute;
	z-index: 10;
	background-position: center;
	margin: 0;
	padding: 0;

	background: url(../img/jetti-logo-200x200-72pdi.png) no-repeat center center;
	background-color: rgba(0, 0, 0, .75);

	display: block;

	-webkit-animation: displayNone 2s; /* Safari 4+ */
  	-moz-animation:    displayNone 2s; /* Fx 5+ */
  	-o-animation:      displayNone 2s; /* Opera 12+ */
  	animation:         displayNone 2s; /* IE 10+, Fx 29+ */
}

.cover-screen
{
	opacity: .0;
}


.logo-link
{

	.logo-main
	{
	font-weight: 100;
	}

	.logo-secondary
	{
		font-weight: 100;
	}
}

main
{
	margin-top: 2vh;
}

h1, h2, h3, p
{
	color: $darkest-primaryTextColor;
}

.global-nav
{
	background-color: $orange-primaryColor;
}

.global-nav-button
{
	color: $white-textPrimaryColor;
	padding: 0 12px;
	transition: background-color .25s ease;
	background-color: $orange-primaryColor;
	font-weight: 100;
}

.global-nav-button:hover
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

.global-nav-button:active
{
	transition: background-color .25s ease;
	background-color: $orange-dark-darkPrimaryColor;
	color: $white-textPrimaryColor;
}

label
{
	font-weight: bold;
	color: $darkest-primaryTextColor;
}

.image
{

}

.image1
{
	height: 20vh;
	width: 100%;
	position: relative; 
   	width: 100%; /* for IE 6 */

}

.affil-name
{
	position: absolute; 
   top: 50px; 
   left: 0.9375rem; 
   width: 100%;
   color: $white-textPrimaryColor;
}

.affil-location
{
	color: $white-textPrimaryColor;
	position: absolute; 
   top: 80px; 
   left: 0.9375rem; 
   width: 100%;
   font-weight: 100;

}



input[type="text"], input[type="email"], input[type="password"], input[type="number"], select
{
	border: none;
	border-bottom: 2px solid $lightest-dividerColor;
	box-shadow: none;
	padding-left: 0;
	background: none;
}

input[type=number] {
    -webkit-text-security: disc;
}

select
{
	color: #979797;
  color: rgba(182,182,182,0);
  text-shadow: 0 0 0 #979797;
  font-weight: bold;
}

select:hover
{
	background: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus
{
	border: none;
	border-bottom: 2px solid $orange-primaryColor;
	box-shadow: none;
	background: none;

}

.panel
{
	background-color: $white-textPrimaryColor;
	border-radius: .3em;
	box-shadow: 0px 1px 1px #ccc;
}

.button
{
	transition: background-color .75s easy, color .75s ease;
	color: $white-textPrimaryColor;
	background-color: $orange-primaryColor;

}

.button:hover, .button:focus
{
	transition: background-color .75s easy, color .75s ease;

	color: $white-textPrimaryColor;
	background-color: $orange-dark-darkPrimaryColor;
}

.button:active
{
	color: $orange-dark-darkPrimaryColor;
	background-color: $white-textPrimaryColor;

}

.item-list
{
	list-style-type: none;
	margin-left: 0;

	li
	{
		padding: 12px 0;
		margin: 0;
		border-bottom: 2px solid $lightest-dividerColor;
		display: inline-block;
		width: 100%;
	}

	.item-name
	{
		font-weight: 100;
	}

	.item-price
	{
		font-weight: bold;
	}

	.reedem-button
	{
		margin-bottom: 0;
		padding: .3em .6em;
	}
}

input[type="checkbox"]
{
	padding: 0;
	margin: 0;
	appearance: none;
}

.switch input:checked + label {
    background: none repeat scroll 0% 0% $orange-primaryColor;
}

.server-prompt
{
	color: $orange-primaryColor;
}



.your-points
{
	color: $orange-primaryColor;
	font-weight: 500;

	padding: .3em .4em;
}







